@import 'styles/index.sass'



.genericInputContainer 
    width: 100%

    input,textarea 
        width: 100%
        color: $mateBlack
        border: none
        border-bottom: 
            width: 0.2rem
            style: solid 
            @include colop(0.33)
        @include font-settings (GeomanistRegular, 1.2rem)
        font-weight: bolder
        outline: none !important
    

    input:focus,textarea:focus 
        border-bottom: 
            width: 0.2rem
            style: solid 
            @include colop(1)

    input
        height: 3.2rem

    textarea
        height: 10.4rem
        resize: none

    .genericInputInfo 
        height: 2.5rem
        margin-top: .5rem



.genericTextArea 
    @include font-settings (GeomanistRegular, 1.2rem)







.genericInput-error 
    border-bottom: 
        width: 0.2rem
        style: solid 
        color: $errorColor !important


.genericInput-validate 
    border-bottom: 
        width: 0.2rem
        style: solid 
        color: $successColor!important

.genericInputInfo 
    height: 2.4rem

    .genericInputInfo-error 
        @include font-settings (GeomanistRegular, 1rem)
        color: $errorColor


    .genericInputInfo-validate 
        @include font-settings (GeomanistRegular, 1rem)
        color: $successColor

