@import 'styles/index.sass'



.genericInputContainer 
    width: 100%

    input,textarea 
        width: 100%
        color: $mateBlack
        border: none
        border-bottom: 
            width: 0.1rem
            style: solid 
            @include colop(0.33)
        @include font-settings (GeomanistRegular, 1.3rem)
        font-weight: bolder
        outline: none !important
    

    input:focus,textarea:focus 
        border-bottom: 
            width: 0.1rem
            style: solid 
            @include colop(1)

    input
        height: 4rem

    textarea
        height: 12rem
        resize: none

    .genericInputInfo 
        //width: 100%



.genericTextArea 
    @include font-settings (GeomanistRegular, 1.3rem)







.genericInput-error 
    border-bottom: 
        width: 0.1rem
        style: solid 
        color: $errorColor !important


.genericInput-validate 
    border-bottom: 
        width: 0.1rem
        style: solid 
        color: $successColor!important

.genericInputInfo 
    height: 3rem

    .genericInputInfo-error 
        @include font-settings (GeomanistRegular, 1.1rem)
        color: $errorColor


    .genericInputInfo-validate 
        @include font-settings (GeomanistRegular, 1.1rem)
        color: $successColor

