@import 'styles/index.sass'





.svgSpinningBtn
    display: inline-block
    position: relative
    width: 80px
    height: 80px
    border-radius: 80px
    margin: 10px
    overflow: hidden
    cursor: pointer
    text-align : center
    >img
        display: block
        width: 40%
        height: auto
        position: absolute
        z-index: 1
        top : 0
        left : 0
    >span
        display: block
        position: absolute
        z-index: 1
        color : $white

.spinWrapper
    width: 100%
    height: 100%
    position: absolute
    z-index: 0
    top: 0
    left: 0
    >img
        display: block
        width: 100%
        height: auto
        
        
    
    
