@import 'styles/index';

#footer{
    height : 60px;
    #footer-social{
        float: left;
        height: 100%;
        #footer-logotype{
            display: inline-block;
            height : 100%;
            padding: 20px;
            text-align: center;
            vertical-align: middle;
        }
        .footer-social-element{
            margin: 10px;
        }
    }
    #footer-languages{
        float: right;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        padding: 20px;
        #footer-languages-french{
            margin: 10px;
        }
        #footer-languages-english{
            margin: 10px;
        }
    }

}