@import 'styles/index';

#header {
    height : 140px;
    #banner{
        position: relative;
        height: 80px;
        #banner-logotype{
            float: left;
        }
        #banner-slogan{
            font-family: GeomanistBlack;
        }
        #banner-badge{
            float: right;
        }
    }
    #navbar{
        position: relative;
        height: 60px;
        #navbar-inner{

            .navbar-navlink{
            margin : 10px;
            }
            .navbar-navlink-selected{
            font-weight: bolder;
            }
        }
    }
}