html {
  scroll-behavior: smooth;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  // position: relative;
  // min-height: 100vh;
  height: 100%;
  // scroll-snap-type: y mandatory;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  font-family: GeomanistRegular;
}

#root {
  // position: relative;
  // width: 100vw;
  // min-height: 100vh;
  height :100%;
}

.horizontal-center {
  left: 50%;
  @include transform(translateX(-50%));
}

.vertical-center {
  top: 50%;
  @include transform(translateY(-50%));
}

.center-XY {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
