#mainContent{
    height: calc(100% - 200px);
    .mainContent-page{
        height: 100%;
        .mainContent-page-splitScreen{
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%;
        }
    }
}