@import 'styles/index';

#contactPage{
    #contactPage-copy{
        
        #contactPage-copy-tagLine{
            font-family: GeomanistBlack;
            font-size: 30px;
            color: $mateBlack;
            display: block;
            .contactPage-copy-grey{
                font-family: inherit;
                opacity: .3;
            }
        }
    }
}