@import 'styles/index';


.projectSlide{
    
    height: calc(100vh - 220px);
    width: 40vw !important;
    padding: 5px;
    cursor: pointer;
    .projectSlide-thumbnail{
        height: calc(100% - 100px);
        color: $white;
        background-color: $mateBlack;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .projectSlide-info{
        // background-color: red;
        height: 100%;
        padding: 10px;
        color: $mateBlack;
        font-size: 12pt;
        >span{
            display: block;
        }
        .projectSlide-info-title{

        }
        .projectSlide-info-tagline{

        }
        .projectSlide-info-services{

        }
    }
}