@import 'styles/index';


.projectSlide{
    
    height: calc(100vh - 220px);
    width: 40vw !important;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    .projectSlide-thumbnail{
        height: calc(100% - 100px);
        color: $white;
        background-color: $mateBlack;
        text-align: center;
        vertical-align: middle;
    }
    .projectSlide-info{
        // background-color: red;
        height: 100%;
    }
}