@mixin transform($property) 
    -webkit-transform: $property
    -ms-transform: $property
    transform: $property

@mixin colop($opacity)
    color: rgba(20, 20, 20, $opacity)

@mixin font-settings ($prop1, $prop2)
    font:
        family: $prop1
        size: $prop2

@mixin for-tablet-portrait-up 
    @media (min-width: 700px) 
        @content